// Variables
$color-primary: #1caadf;
$color-secondary: #5bc500;
$color-third: #86888c;

$layout-breakpoint-x-small: 600px;
$layout-breakpoint-small: 768px;
$layout-breakpoint-md: 1024px;

$font-path: "../../fonts";
$img-path: "../../img";
